<page-header [autoTitle]='false'></page-header>
<button nz-button (click)="show()" [nzType]="'primary'">增加</button>
<st #st [data]="serviceList" [page]="page" [bordered]="true" [columns]="columns"></st>
<nz-modal nzWidth="800" nzTitle="添加/修改服务" [nzOkDisabled]="!this.serviceFG.valid" [(nzVisible)]="isVisible"
  [nzOkLoading]="isOkLoading" (nzOnOk)="handleOk(serviceFG.value)" (nzOnCancel)="handleCancel()">
  <form nz-form [formGroup]="serviceFG" [nzAutoTips]="autoTips">
    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="5">项目</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <nz-select formControlName="projectId" name="projectId"  nzAllowClear nzPlaceHolder="Choose">
          <nz-option *ngFor="let pro of projects" [nzValue]="pro.id" [nzLabel]="pro.name"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="5">服务名称</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="name" name="name">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="5">configFile</nz-form-label>
      <nz-form-control [nzSpan]="16" nzHasFeedback>
        <textarea required nz-input rows="10" formControlName="configFile" name="configFile"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">description</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <textarea nz-input formControlName="description" name="description"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
