<page-header *ngIf="!isTask"></page-header>
<form nz-form [formGroup]="runEntity" [nzLayout]="'vertical'">
  <nz-card [nzBordered]="false" nzTitle="基础选项">
    <div nz-row nzGutter="16">
      <div nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="project">项目</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-select formControlName="project" name="project" nzPlaceHolder="Choose"
              (ngModelChange)="updateEnv($event)">
              <nz-option *ngFor="let pro of projects" [nzValue]="pro.name" [nzLabel]="pro.name"></nz-option>
            </nz-select>
            <nz-form-explain
              *ngIf="runEntity.get('project')?.dirty &&  runEntity.get('project')?.errors || runEntity.get('project')?.pending ">
              project is required</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXl]="{span:6, offset:2}" [nzLg]="{span:8}" [nzMd]="{span:12}" nzSm="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="env">环境</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-select formControlName="env" name="env" [nzPlaceHolder]="'Choose'" (ngModelChange)="updateService($event)">
              <nz-option *ngFor="let pro of envs" [nzValue]="pro.name" [nzLabel]="pro.name"></nz-option>
            </nz-select>
            <nz-form-explain
              *ngIf="runEntity.get('env')?.dirty &&  runEntity.get('env')?.errors || runEntity.get('env')?.pending ">
              env is required</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXl]="{span:8, offset:2}" [nzLg]="{span:10}" [nzMd]="{span:24}" nzSm="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="servers">服务</nz-form-label>
          <nz-form-control>
            <ngx-dropdown-treeview name="servers" [config]="config" [items]="serviceItems" [buttonClass]="'btn btn-outline-secondary'"
              (selectedChange)="updateUrl($event);">
              <nz-form-explain
                *ngIf="runEntity.get('fuwu')?.dirty &&  runEntity.get('fuwu')?.errors || runEntity.get('fuwu')?.pending || runEntity.get('fuwu').value">
                service is required</nz-form-explain>
            </ngx-dropdown-treeview>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="16">
      <div nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzRequired>数据源</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-select formControlName="dataSource" name="dataSource" nzPlaceHolder="Choose">
              <nz-option *ngFor="let pro of dataSources" [nzValue]="pro" [nzLabel]="pro"></nz-option>
            </nz-select>
            <nz-form-explain
              *ngIf="runEntity.get('dataSource')?.dirty &&  runEntity.get('dataSource')?.errors || runEntity.get('dataSource')?.pending ">
              dataSources is required</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXl]="{span:12, offset:2}" [nzLg]="{span:16}" [nzMd]="{span:24}" nzSm="24">
        <nz-form-item>
          <nz-form-label>服务地址</nz-form-label>
          <nz-form-control>
            <input nz-input [value]="url" name="url" [disabled]="true">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzGutter="16">
      <div nz-col>
        <nz-form-item>
          <nz-form-label>测试用例</nz-form-label>
          <nz-form-control>
            <div nz-row>
              <div nz-col [nzSpan]="20">
                <textarea nz-input formControlName="filePath" name="filePath"></textarea>
              </div>
              <div nz-col [nzSpan]="2">
                <input type="checkbox" [(ngModel)]="forceUpdate" id="forceUpdate" [ngModelOptions]="{standalone: true}"
                  class="ml-2">
                <label for="forceUpdate" class="form-check-label ml-1">强制刷新</label>
              </div>
              <div nz-col [nzSpan]="2">
                <button nz-button [nzType]="'default'" id="caseSelect" [disabled]="project.invalid"
                  (click)="updateCaseFileList();selectCase.nzVisible=true">选择</button>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </nz-card>

  <nz-card [nzBordered]="false" nzTitle="高级选项">
    <div nz-row nzGutter="16">
      <div nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="delay">用例运行间隔</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="delay" name="delay">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXl]="{span:6, offset:2}" [nzLg]="{span:8}" [nzMd]="{span:12}" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="maxRetries">用例失败重试次数</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="maxRetries" name="maxRetries">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXl]="{span:8, offset:2}" [nzLg]="{span:10}" [nzMd]="{span:24}" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="runBySequence">按顺序运行</nz-form-label>
          <nz-form-control>
            <nz-radio-group formControlName="runBySequence">
              <label nz-radio nzValue="false">false</label>
              <label nz-radio nzValue="true">true</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="16">
      <div nz-col nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>运行线程数</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="threads" name="threads">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXl]="{span:6, offset:2}" [nzLg]="{span:8}" [nzMd]="{span:12}" nzSm="24">
        <nz-form-item>
          <nz-form-label>运行时间</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="duration" name="duration">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXl]="{span:8, offset:2}" [nzLg]="{span:10}" [nzMd]="{span:24}" nzSm="24">
        <nz-form-item>
          <nz-form-label>优先级</nz-form-label>
          <nz-form-control>
            <nz-radio-group>
              <nz-checkbox-group [(ngModel)]="checkOptions" (ngModelChange)="select(checkOptions)"
                [ngModelOptions]="{standalone: true}"></nz-checkbox-group>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="16">
      <div nz-col nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>用例失败重试间隔(s)</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="retryInterval" name="retryInterval">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXl]="{span:6, offset:2}" [nzLg]="{span:8}" [nzMd]="{span:12}" nzSm="24">
        <nz-form-item>
          <nz-form-label>按标签过滤</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="tag" name="tag">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="16">
      <div nz-col nzLg="10" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>自定义服务地址</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="url" name="url">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXl]="{span:10, offset:2}" [nzLg]="{span:12}" [nzMd]="{span:12}" nzSm="24">
        <nz-form-item>
          <nz-form-label>对比地址</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="compareUrl" name="compareUrl">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="16">
      <div nz-col nzLg="10" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>自定义测试用例</nz-form-label>
          <nz-form-control>
            <textarea nz-input formControlName="data" name="data" rows="5"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXl]="{span:10, offset:2}" [nzLg]="{span:12}" [nzMd]="{span:12}" nzSm="24">
        <nz-form-item>
          <nz-form-label>用例对比配置</nz-form-label>
          <nz-form-control>
            <textarea nz-input formControlName="compareConfig" name="compareConfig" rows="5"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="16">
      <div nz-col nzLg="10" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>自定义参数</nz-form-label>
          <nz-form-control>
            <textarea nz-input formControlName="parameter" name="parameter" rows="5"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXl]="{span:10, offset:2}" [nzLg]="{span:12}" [nzMd]="{span:12}" nzSm="24">
        <nz-form-item>
          <nz-form-label>参数拉取</nz-form-label>
          <nz-form-control>
            <textarea nz-input formControlName="remoteParameter" name="remoteParameter" rows="5"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </nz-card>
  <footer-toolbar errorCollect *ngIf="!isTask">
    <button nz-button nzType="primary" [disabled]="runEntity.invalid"
      (click)="run(runEntity.value, success)">运行</button>
  </footer-toolbar>
</form>

<ng-template #success>
  运行成功，<a routerLink="/run/result">查看运行结果</a>
</ng-template>
<nz-modal #selectCase nzTitle="选择测试用例" (nzOnCancel)="selectCase.nzVisible=false" [nzFooter]="modalFooter"
  nzClassName="info">
  <ngx-treeview [config]="config" [items]="items"
    (selectedChange)="runEntity.get('filePath').setValue($event.toString())">
  </ngx-treeview>
</nz-modal>

<ng-template #modalFooter>
  <button nz-button nzType="default" (click)="selectCase.nzVisible=false">取消</button>
</ng-template>
