<page-header></page-header>
<button nz-button (click)="show()" [nzType]="'primary'">增加</button>
<st #st [data]="envs" [page]="page"  [bordered]="true" [columns]="columns"></st>
<nz-modal nzTitle="添加/修改环境" [nzOkDisabled]="!this.envFG.valid" [(nzVisible)]="isVisible"
  [nzOkLoading]="isOkLoading" (nzOnOk)="handleOk(envFG.value)" (nzOnCancel)="handleCancel()">
  <form nz-form [formGroup]="envFG">
    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="7">项目</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <nz-select formControlName="projectId" name="projectId"  nzAllowClear nzPlaceHolder="Choose">
          <nz-option *ngFor="let pro of projects" [nzValue]="pro.id" [nzLabel]="pro.name"></nz-option>
        </nz-select>
        <nz-form-explain
          *ngIf="envFG.get('projectId')?.dirty && envFG.get('projectId')?.errors || envFG.get('projectId')?.pending ">
          project is required</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="7">环境名称</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="name" name="name">
        <nz-form-explain
          *ngIf="envFG.get('name')?.dirty && envFG.get('name')?.errors || envFG.get('name')?.pending ">
          name is required</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">description</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <textarea nz-input formControlName="description" name="description"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
