<div class="alain-default__content-title">
    <h1>
      Dashboard
      <small>Welcome !</small>
    </h1>
  </div>
  <div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="bg-primary rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white">
          <div class="h2 mt0">{{projects}}</div>
          <p class="text-nowrap mb0">接入项目</p>
        </div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="bg-success rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white">
          <div class="h2 mt0">{{services}}</div>
          <p class="text-nowrap mb0">接入服务</p>
        </div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="bg-orange rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white">
          <div class="h2 mt0">{{runsets}}</div>
          <p class="text-nowrap mb0">最近30天运行次数</p>
        </div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="bg-magenta rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white">
          <div class="h2 mt0">{{runResults}}</div>
          <p class="text-nowrap mb0">最近30天运行用例数</p>
        </div>
      </div>
    </div>
  </div>
  
  <div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzMd="24">
      <nz-card nzTitle="最近30天运行" [nzBordered]="false" class="ant-card__body-nopadding">
      <div id="runTimes"></div>
      </nz-card>
    </div>
  </div>
  <div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzMd="12">
      <nz-card nzTitle="最近运行失败" [nzBordered]="false" class="ant-card__body-nopadding">
        <nz-list nzSize="small">
          <nz-list-item *ngFor="let item of runSetList" nzNoFlex>
            <nz-descriptions nzSize="small" nzColumn="5">
              <nz-descriptions-item nzTitle="Id">
                <a (click)='jump(item.id)'  class="text-blue">{{item.id}}</a></nz-descriptions-item>
              <nz-descriptions-item nzTitle="项目">{{item.project}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="环境">{{item.env}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="服务">{{item.service}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="通过率"><nz-tag [nzColor]="item.succesed | progress">{{item.succesed}}%</nz-tag></nz-descriptions-item>
            </nz-descriptions>
          </nz-list-item>
        </nz-list>
      </nz-card>
    </div>
    <div nz-col nzXs="24" nzMd="12">
      <nz-card nzTitle="最近运行中" [nzBordered]="false" class="ant-card__body-nopadding">
        <nz-list nzSize="small">
          <nz-list-item *ngFor="let item of runSetListRunning" nzNoFlex>
            <nz-descriptions nzSize="small" nzColumn="5">
              <nz-descriptions-item nzTitle="Id">
                <a (click)='jump(item.id)'  class="text-blue">{{item.id}}</a></nz-descriptions-item>
              <nz-descriptions-item nzTitle="项目">{{item.project}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="环境">{{item.env}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="服务">{{item.service}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="进度">
                <div  style="width:50px">
                <nz-progress  [nzPercent]="item.runnedPercent">{{item.runnedPercent}}</nz-progress>
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
          </nz-list-item>
        </nz-list>
      </nz-card>
    </div>

  </div>
  