<page-header ></page-header>
  <st #st [data]="results" [total]="totalRecords" [ps]="itemsPerPage"  [scroll]="{x: '800px'}" (change)="onChangeTable($event)" [page]="page" [bordered]="true" [columns]="columns">
    
    <!-- <ng-template st-row="id" let-item>
      <a [routerLink]="['/run/result', { taskId: item.id }]">{{item.id}}</a>
    </ng-template> -->
    <!-- <ng-template st-row="operation" let-item>
        <a><i nz-icon nzType="edit" nzTheme="outline"></i><span class="pl-xs">debug</span></a>
        <nz-divider nzType="vertical"></nz-divider>
        <a><span class="pl-xs">view</span></a>
        
    </ng-template>  -->
    
  <ng-template st-row="priority" let-item>
    <nz-tag [nzColor]="item.priority | progress">{{item.priority}}</nz-tag>
  </ng-template>
  </st>
